/* Font family and text alignment for the whole page */
body {
	font-family: sans-serif;
	text-align: center;
}

/* Margins for header one */
h1 {
	color: blue;
	margin-top: 48px;
	margin-bottom: 48px;
	
}


#button1, #button2{
width:180px;
height:50px;
background-color: #fea834;
border: 3px solid white;
color: #FFFF;
font-weight:bold;
border-radius: 10px;
margin-bottom:100px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
font-family: vollkorn;
margin: 4px 2px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
outline: none;
}

/* height for dropdown menu */
select{
  height: 33px;
}

